{% extends '_base.html' %}


{% block title %}
    {{ book.title }} by {{ book.author }}
{% endblock title %}


{% block content %}
    <div class="book-detail">
        
        {% if book.cover %}
            <img src="{{book.cover.url}}" alt="{{book.title}}_cover" class="bookcover">
        {% endif %}
            
        <h2><a href="">{{book.title}}</a></h2>
        <br>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <br>
        <h3>Reviews</h3>
        <ul>
            
            {% for review in book.reviews.all %}
                <li>
                    {{review.review}} ({{ review.author }})
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <a href="{% url 'book_list' %}">Go back to  book list </a>

{% endblock content %}
